.profile__main {
  display: inline-flex;
  column-gap: 18px;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .profile__main {
    max-width: 235px;
  }
}

@media screen and (max-width: 600px) {
  .profile__main {
    max-width: 500px;
    column-gap: 10px;
  }
}
