.photos {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  column-gap: 17px;
  row-gap: 20px;
  flex-wrap: wrap;
  padding: 50px 10px 67px 10px;
  padding-top: 50px;
  padding-bottom: 67px;
}

@media screen and (max-width: 600px) {
  .photos {
    padding-top: 36px;
    padding-bottom: 50px;
  }
}
