.popup__title {
  max-width: 358px;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .popup__title {
    max-width: 238px;
    padding-top: 25px;
    padding-bottom: 76px;
    font-size: 18px;
    line-height: 22px;
  }
}
